{% extends "layout.twig" %}

{# Assets #}
{% block assets %}
    {{ assets({files: ['Home/style.css', 'Home/script.js']}) }}
{% endblock %}

{# Content #}
{% block content %}
    <h1 style="margin-bottom: 30px">{{ __('Welcome to GISPOSCAN') }}</h1>
    <div class="row">
        <div class="col-sm-2">
            <form>
                <div class="form-group">
                    <label for="barcode">{{ __('Barcode') }}</label>
                    <input type="text" class="form-control" data-id="barcode" id="barcode"
                           placeholder="{{ __('Enter barcode') }}" autofocus>
                </div>
                <div class="form-group">
                    <label for="first-name">{{ __('First name') }}</label>
                    <input type="text" class="form-control" data-id="first-name" id="first-name"
                           placeholder="{{ __('Enter first name') }}">
                </div>
                <div class="form-group">
                    <label for="last-name">{{ __('Last name') }}</label>
                    <input type="text" class="form-control" data-id="last-name" id="last-name"
                           placeholder="{{ __('Enter last name') }}">
                </div>
                <div class="form-group">
                    <label for="last-name">{{ __('Email') }}</label>
                    <input type="text" class="form-control" data-id="email" id="email"
                           placeholder="{{ __('Email') }}">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" data-id="submit"
                        style="cursor:pointer;">{{ __('OK') }}</button>
                <button type="submit" class="btn btn-primary btn-lg btn-block" data-id="get-csv"
                        style="cursor:pointer;">{{ __('Generate CSV') }}</button>
            </form>
            <form class="form-inline" style="margin-top: 30px" data-id="auto-action-selection">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="auto-action" id="auto-action"
                           data-id="auto-action">
                    <label class="form-check-label" for="auto-action">
                        {{ __('Auto action') }}
                    </label>
                </div>
                <div class="form-check form-check-inline" style="margin-top: 15px">
                    <input class="form-check-input" type="radio" name="auto-action-type" id="auto-action-checkin"
                           data-id="auto-action-checkin" value="checkin" checked disabled>
                    <label class="form-check-label" for="auto-action-checkin">
                        {{ __('Check in') }}
                    </label>
                </div>
                <div class="form-check form-check-inline" style="margin-top: 15px">
                    <input class="form-check-input" type="radio" name="auto-action-type" id="auto-action-checkout"
                           data-id="auto-action-checkout" value="checkout" disabled>
                    <label class="form-check-label" for="auto-action-checkout">
                        {{ __('Check out') }}
                    </label>
                </div>
            </form>
        </div>
        <div class="col-sm-10">
            <table class="table table-bordered table-responsive-lg" data-id="users-table">
                <thead>
                <tr>
                    <th>{{ __('ID') }}</th>
                    <th class="text-nowrap">{{ __('Barcode') }}</th>
                    <th class="text-nowrap">{{ __('First name') }}</th>
                    <th class="text-nowrap">{{ __('Last name') }}</th>
                    <th class="text-nowrap">{{ __('Email') }}</th>
                    <th class="text-nowrap">{{ __('Thumbnail') }}</th>
                    <th style="min-width: 130px;">{{ __('Action') }}</th>
                </tr>
                </thead>
                <tbody data-id="userdata">
                <tr data-id="loading">
                    <td colspan="7" class="text-center">{{ __('Loading . . .') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/html" id="users">
        {{ source('Home/users.mustache') }}
    </script>
{% endblock %}