<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#222222">
    <meta name="author" content="Bjoern Pfoster">
    <meta name="description" content="A proper Contactform :D">
    <meta name="keywords" content="Contact, contactform, d4rkmidnz">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <base href="{{ base_url() }}/">
    <base name="xhr-baseurl" href="{{ path_for('root', { 'language': language }) }}">
    <link rel="canonical" href="{{ path_for('root') }}"/>
    <link rel="icon" href="favicon.ico">

    {{ assets({files: [
        '@public/js/jquery.min.js',
        '@public/js/bootstrap.min.js',
    ], name:'jquery-bootstrap.js'}) }}

    {# JavaScripts #}
    {{ assets({files: [
        '@public/js/mustache.min.js',
        '@public/js/notifit.min.js',
        '@public/js/script.js',
    ], name: 'script.js'}) }}

    {# Styles #}
    {{ assets({files: [
        '@public/css/bootstrap.min.css',
        '@public/css/notifit.min.css',
        '@public/css/loading.min.css',
        '@public/css/loading-btn.min.css',
        '@public/css/style.css',
    ]}) }}

    <title>{{ page }}</title>
    {% block assets %}{% endblock %}
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path_for('root') }}">{{ __('Home') }} <span
                            class="sr-only">{{ __('(current)') }}</span></a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <a class="navbar-brand" href="https://www.orca-services.ch">
                <i>Powered by </i>
                <img src="img/logo.svg" width="80px" alt="ORCA Services AG">
            </a>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<nav class="navbar fixed-bottom navbar-light bg-transparent">
    <a href="https://darkmindz.ch" class="font-small">Created by Björn Pfoster</a>
</nav>

</body>
</html>